  body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  }

  h1{
    position: absolute;
    font-size: 40px;
    background: #8a2387;
    background: -webkit-linear-gradient(90deg, #8a2387 0%, #e94057 50%, #f27121 100%);
    background: linear-gradient(90deg, #8a2387 0%, #e94057 50%, #f27121 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 3%;
  }

  .setup{
    background: radial-gradient(#c90000, #000000);
    width: 100%;
    height: 100%;
  }

  .setupTitle{
    margin-top: 50px;
    font-size: 40px;
    color: white;
    font-weight: bold;
  }

  .setupModalText{
    font-weight: bold;
    color: black;
  }

  .setupText{
    font-weight: bold;
    color: white;
  }

  .cards {
    background: radial-gradient(#c90000, #000000);
    width: 100%;
    height: 100%;
      /* display: grid; 
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
      gap: 20px; 
      padding: 20px; 
      justify-items: center; */
  }

  .setup{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .setup, .cards{
      opacity: 1;
      visibility: 1;
      transition: all ease 0.4s;
      text-align: center;
  }
  .setup.hidden, .cards.hidden{
      opacity: 0;
      visibility: 0;
      transition: all ease 0.4s;
      pointer-events: none;
  }

  .centered-input{
      text-align: center !important;
      width: 140px !important;
  }

  .countdown{
    background: radial-gradient(#c90000, #000000);
    width: 100%;
    height: 100%;
  }

  .countdown-timer{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    user-select: none;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 6px rgb(0 0 0);
  }

  .roles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px; /* Space between the grid items */
    justify-items: center; /* Center the items in their grid cells */
}

.role-item {
    text-align: center; /* Center text and logo */
}

.role-logo {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Keep the aspect ratio */
    margin-bottom: 10px; /* Space between logo and text */
}